body, html {
    height: 100%;
    margin-top: 0em;
}

body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    background-color: rgb(153,11,7);
    font-family: Georgia, Times, 'Times New Roman', serif;
}

p {
    margin: 0em;
}

header {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: white;
}

header img {
    height: 9em;
}

nav {
    background-color: rgb(153,11,7);
    /* text-align: center; */
    /* padding-bottom: 15px;
    padding-top: 15px; */
    /* padding-top: 10em;
    padding-bottom: 10em; */
    margin-top: .5em;
    margin-bottom: .5em;
}

nav a {
   text-align: center;
    color: white;
    text-decoration: none;
    padding-left: 3em;
    padding-right: 3em;

    font-size: large;
}

a:hover{
    color: gold;
    text-decoration: none;
}

h1 {
    font-size: 3em;
    font-weight: 700; 
    text-align: center;
    color: white;
}

.lawnmowerBackground {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    /* opacity: .5; */
}

#lawnmowerContainer {
    background-color: black;
    height: 80%;
}

/* .container {
    position: relative;
    text-align: center;
    background-color: black;
    height: 75%;
  } */

.centered {
    position: absolute;
    text-align: center;
    color: white;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
  }

#aboutUs {
    background-color: white;
    border-radius: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    /* margin-right: 175px;
    margin-left: 175px; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 75px;   
    padding-right: 75px;
    text-align: center;
    color: rgb(153,11,7);
    font-size: 20px;
}

#lessMarginForH1 {
    margin-bottom: 0.3em;
    color: rgb(153,11,7);
}

#aboutUsJustified {
    text-align: justify;
}

.section {
    color: white;
    font-size: 20px;
    /* margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 175px;
    margin-left: 175px; */
    font-weight: 300;
    margin-top: 3em;
}

#ourServicesImg {
    margin-top: 1.5em;
    width: 100%; 
    height: 450px;
}

hr {
    background-color: white;
}

.noSplit {
    text-align: center;
    width: 100%;
}

.leftSplit {
    width: 48;
    float: left;
    text-align: center;
}

.rightSplit {
    width: 48%;
    float: right;
    text-align: center;
}

ul {
    text-align: left;
}

.centeredP {
    text-align: center;
}

hr {
    width: 50%;
}

.leftSplit40 {
    width: 41%;
    float: left;
    text-align: center;
}

.rightSplit40 {
    width: 41%;
    float: right;
    text-align: center;
}

#footer {
    color: white;
    font-size: 13px;
}

.imgBorder
{
    border: 2px;
    border-style: solid;
    border-color: white;
    margin-top: 10px;
    width: 100%;
}

.leftSplit30 {
    width: 40%;
    float: left;
    text-align: center;
    margin-top: 1.5em;
    margin-left: 4em;
}

.rightSplit70 {
    width: 50%;
    float: right;
    text-align: center;
}

.container-fluid {
    /* width: 100%; */
    padding-right: 0px;
    padding-left: 0px;
    /* margin-right: auto;
    margin-left: auto; */
  }       
.navbar-toggler { 
    border: 1px solid white; 
    margin: auto;
} 
  
.navbar-toggler-icon { 
    background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(256, 256, 256, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

.navbar-nav {
    margin: auto;
}